* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
}

footer {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  padding: 32px 80px;
}

.header__menu {
  display: none;
}

.yasv {
  margin-top: 60px;
  display: flex;
}

.taf {
  display: flex;
  gap: 20px;
  color: #140505;
  align-items: center;
}

.ster {
  padding: 19px 25px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 12px;
  color: white;
}

.att {
  padding: 15px 35px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 12px;
}

.tavq {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ters {
  padding: 26px 39px;
  border-radius: 16px;
  background-color: #ff5634;
  border-radius: 16px;
  border: navajowhite;
  color: white;
}

.load {
  padding: 26px 39px;
  border-radius: 16px;
  border: none;
}

.tar {
  margin-left: 400px;
  margin-top: 120px;
}

.tavo {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eac {
  margin-top: 150px;
}

.yav {
  margin-top: 190px;
}

.off {
  margin-top: 7px;
}

.sys {
  margin-top: 7px;
}

.ipsu {
  margin-top: 22px;
}

.sitc {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}

.efficent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag {
  padding: 26px 39px;
  border: none;
  border-radius: 16px;
  background: #ff5634;
  color: white;
  margin-top: 80px;
}

.hatb {
  text-align: center;
  gap: 30px;
}

.tgav {
  margin-top: 100px;
}

.gar {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.hatt {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.vzxa {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}

.tawq {
  margin-top: 70px;
  text-align: center;
  gap: 27px;
}

.terax {
  padding: 26px 39px;
  background: #ff5634;
  color: white;
  border-radius: 16px;
  border: none;
}

.jab {
  padding: 26px 39px;
  background: #ff5634;
  color: white;
  border-radius: 16px;
  border: none;
}

.tear {
  background: #ff5634;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 26px 39px;
}

.back {
  background-color: rgba(15, 14, 14, 0.9568627451);
  color: white;
  size: 100%;
  margin-top: 200px;
}

.baty {
  text-align: center;
  margin-top: 150px;
}

.dres {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.jksa {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.haty {
  margin-top: 250px;
}

.yatz {
  display: flex;
}

.tay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gats {
  margin-top: 450px;
}

.what-our {
  margin-top: 195px;
  background: #fafafa;
}

.what-our-top {
  display: flex;
  padding-top: 199px;
}

.w-t-l-top {
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
}

.w-t-l-bottom {
  max-width: 465px;
  margin-top: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #656565;
}

.what-our-top {
  display: flex;
  justify-content: space-evenly;
  gap: 300px;
  padding-bottom: 47px;
}

.w-t-right {
  margin-top: 56px;
  display: flex;
  gap: 27px;
  text-decoration: none;
  color: white;
}

.gatx {
  padding: 26px 35px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
}

.w-o-b-card {
  width: 398px;
  background-color: white;
}

.w-o-b-c-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-o-b-c-t-left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 33px;
  padding-top: 40px;
}

.w-o-b-c-t-r-top {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #121212;
}

.w-o-b-c-t-r-bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ff5634;
}

.w-o-b-c-t-right {
  background: #eef8ff;
  border-radius: 8px;
  width: 36px;
  height: 36px;
}

.w-o-b-c-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
}

.what-our-bottom {
  display: flex;
  gap: 30px;
}

.tres {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.uyz {
  background: black;
  border-radius: 0px;
  color: white;
  display: flex;
}

.fsr {
  display: flex;
  margin-top: 100px;
}

.cax {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #121212;
}

.terx {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #656565;
  text-decoration: none;
  margin-top: 17px;
}

.gaer {
  display: flex;
  justify-content: space-between;
}

.jfief {
  margin-top: 35px;
  margin-left: 40px;
}

.graf {
  margin-left: 150px;
  gap: 30px;
}

.back {
  display: flex;
  justify-content: space-between;
}

.sozzzz {
  margin-top: 270px;
  margin-left: 100px;
}

.sbav {
  display: flex;
  width: 500px;
  margin-top: 270px;
  margin-left: 100px;
}

.uyz {
  margin-top: 180px;
}

.gts {
  transform: translateY(-70px);
}

.alix {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  text-decoration: none;
  color: #121212;
}

.dffr {
  display: flex;
}

.qora {
  background-color: black;
}

@media screen and (max-width: 998px) {
  .taf {
    display: none;
  }
  .header__menu {
    display: block;
  }
}
@media screen and (max-width: 1098px) {
  .tavq {
    flex-direction: column-reverse;
  }
  .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .ters {
    width: 100%;
    margin-bottom: 23px;
  }
  .load {
    width: 100%;
  }
  .hatb {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tag {
    width: 100%;
    margin-top: 0;
  }
  .tawq {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .jab {
    width: 1000%;
  }
  .terax {
    width: 100%;
  }
}
@media screen and (max-width: 1060px) {
  .tavo {
    flex-wrap: wrap;
  }
  .tar {
    margin-left: 0;
  }
}
@media screen and (max-width: 1060px) {
  .tavo img {
    width: 100%;
    margin-bottom: 30px;
  }
  .back {
    flex-direction: column;
  }
  .sozzzz {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .back-img img {
    width: 100%;
  }
}
@media screen and (max-width: 953px) {
  .sitc {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 992px) {
  .vzxa {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frame {
    width: 100%;
  }
  .frame img {
    width: 100%;
  }
  .back-img {
    width: 100%;
  }
}
@media screen and (max-width: 1060px) {
  .dres {
    justify-content: center;
    gap: 10px;
  }
  .jksa {
    justify-content: center;
    gap: 10px;
  }
  .tay {
    flex-direction: column;
  }
  .haty img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */